<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="page-dashboard">
      <div class="d-flex" id="wrapper" data-aos="fade-right">
        <!-- Side bar -->
        <div class="border-right" id="sidebar-wrapper">
          <div class="sidebar-heading text-center">
            <img src="images/logo-d.svg" alt="Logo" class="my-4">
          </div>
          <div class="list-group list-group-flush">
            <a href="dashboard.html" class="list-group-item list-group-item-action">
              Dashboard
            </a>
            <a href="dashboard-product.html" class="list-group-item list-group-item-action">
              My Product
            </a>
            <a href="dashboard-transactions.html" class="list-group-item list-group-item-action active">
              Transactions
            </a>
            <a href="dashboard-settings.html" class="list-group-item list-group-item-action">
              Store Settings
            </a>
            <a href="dashboard-account.html" class="list-group-item list-group-item-action">
              My Account
            </a>
            <a href="index.html" class="list-group-item list-group-item-action">
              Sign Out
            </a>
          </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light navbar-store fixed-top" aria-label=""
          data-aos="fade-down">
              <div class="container-fluid">
                <button class="btn btn-secondary d-md-none mr-auto mr-2" id="menu-toggle">
                  &laquo; Menu
                </button>
                <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collaps navbar-collapse" id="navbarSupportedContent">
                  
      
                  <!-- Navbar Dekstop -->
                  <ul class="navbar-nav d-none d-lg-flex ml-auto">
                    <li class="nav-item dropdown">
                      <a href="#" class="nav-link" id="navDropdown" role="button" data-toggle="dropdown">
                        <img src="/images/icon-user.png" alt="User Profile" class="rounded-circle mr-2 profile-picture">
                        Hi, Oryza
                      </a>
                      <div class="dropdown-menu">
                        <a href="/dashboard.html" class="dropdown-item">Dashboard</a>
                        <a href="/dasshboard-account.html" class="dropdown-item">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a href="/" class="dropdown-item">Log Out</a>
                      </div>
                    </li>
      
                    <li class="nav-item">
                      <a href="" class="nav-link d-inline-block mt-2">
                        <img src="/images/cart.svg" alt="Cart ">
                        <div class="card-badge">3</div>
                      </a>
                    </li>
                  </ul>
      
                  <!-- Navbar Mobile -->
                  <ul class="navbar-nav vd-block d-lg-none">
                    <li class="nav-item">
                      <a href="#" class="nav-link">Hi, Oryza</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link d-inline-block">Cart</a>
                    </li>
                  </ul>
                </div>
              </div>
          </nav> 

          <!-- Section Content -->
          <div class="section-content section-dashboard-home" data-aos="fade-up">
            <div class="container-fluid">
              <div class="dashboard-heading">
                <h2 class="dashboard-title">#STORE0839</h2>
                <p class="dashboard-subtitle">Transactions     /     <b style="font-weight: 500;font-size: 16px;color: #0C0D36;">Details</b></p>
              </div>

              <div class="dashboard-content" id="transactionDetails">
                <div class="row mr-3">
                  <div class="col-12">
                    <div class="card mb-5 pb-3">
                      <div class="card-body ml-3 mt-4">
                        <div class="row">
                          <div class="col-12 col-md-4">
                            <img src="images/transaction-product.png" alt="product" data-aos="zoom-in" class="w-100 mb-3">
                          </div>
                          <div class="col-12 col-md-8">
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Customer Name</div>
                                <div class="product-subtitle">Angga Risky</div>
                              </div>

                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Product Name</div>
                                <div class="product-subtitle">Shyrup Marzzan</div>
                              </div>

                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Date of Transaction</div>
                                <div class="product-subtitle">12 Januari, 2020</div>
                              </div>

                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Payment Status</div>
                                <div class="product-subtitle text-success">Success</div>
                              </div>

                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Total Amount</div>
                                <div class="product-subtitle">$280,409</div>
                              </div>

                              <div class="col-12 col-md-6">
                                <div class="product-title" data-aos="fade-up">Mobile</div>
                                <div class="product-subtitle">+628 2020 11111</div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        <!-- baris 2 -->
                        <div class="row">
                          <div class="col-12 mt-4">
                            <h5>Shipping Information</h5>
                          </div>
                          <div class="col-12">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="product-title">Address I</div>
                                <div class="product-subtitle">Setra Duta Cemara</div>
                              </div>
                              <div class="col-md-6">
                                <div class="product-title">Address II</div>
                                <div class="product-subtitle">Blok B2 No. 34</div>
                              </div>
                              <div class="col-md-6">
                                <div class="product-title">Province</div>
                                <div class="product-subtitle">West Java</div>
                              </div>
                              <div class="col-md-6">
                                <div class="product-title">City</div>
                                <div class="product-subtitle">Bandung</div>
                              </div>
                              <div class="col-md-6">
                                <div class="product-title">Postal Code</div>
                                <div class="product-subtitle">123999</div>
                              </div>
                              <div class="col-md-6">
                                <div class="product-title">Country</div>
                                <div class="product-subtitle">Indonesia</div>
                              </div>
                              <div class="col-md-5">
                                <div class="product-title">Status</div>
                                <select name="status" id="status" class="form-control" v-model="status">
                                  <option value="UNPAID">Unpaid</option>
                                  <option value="PENDING">Pending</option>
                                  <option value="SHIPPING">Shipping</option>
                                  <option value="SUCCESS">Success</option>
                                </select>
                              </div>
                              <template v-if="status == 'SHIPPING'">
                                <div class="col-md-5">
                                  <div class="product-title">Input Resi</div>
                                  <input type="text" class="form-control" v-model="resi">
                                </div>
                                <div class="col-md-2">
                                  <div class="product-title text-white">Halooo</div>
                                  <button type="submit" class="btn btn-danger btn-block">Update Resi</button>
                                </div>
                              </template>
                              <div class="col-12 mt-3">
                                <button class="btn btn-success btn-block">Save Now</button>
                              </div>
                            </div>
                            

                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $('#wrapper').toggleClass('toggled');
      });
    </script>
    <script src="vendor/vue/vue.js"></script>
    <script>
        var transactionDetails = new Vue({
          el: "#transactionDetails",
          mounted(){
          AOS.init();
        },
        data: {
          status: "SHIPPING",
          resi: "JNE20839149021029301231",
        },
        });
    </script>
  </body>
</html>
